@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

:root {
  --main-color: #0070f3;
  --main-color-light: #679eff;
  --main-color-dark: #0046bf;
  --text-grey: #8390a2;
  --color-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.mainContent {
  margin-left: 250px;
  margin-top: 85px;
  padding: 2rem 1.5rem;
  background: #f1f5f9;
  min-height: calc(100vh - 90px);
  transition: margin-left 0.3s;
}

.sidebarClose {
  margin-left: 70px;
}

@media only screen and (max-width: 1200px) {
  .mainContent {
    margin-left: 70px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 !important;
  }

  .mainContent {
    margin-left: 0px;
    padding: 1rem;
  }
}

.loading-spinner {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 90px auto;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #818a91;
  transform: translateZ(0);
  animation: spin 0.5s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error-message {
  display: flex;
  justify-content: center;
}

.error-message-presenter {
  display: inline-block;
  margin: 20px auto;
  padding: 8px 15px;
  border-radius: 4px;
  color: #f02d2d;
  font-weight: 600;
  background: rgba(240, 45, 45, 0.1);
}

.activeSidebar {
  background-color: var(--color-white);
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: var(--main-color) !important;
  border-radius: 0 30px 30px 0;
}

.modalJD .modal-dialog {
  margin: 0 0 0 auto;
}

/* animation modal */
.modalJD.fade {
  transform: translate3d(100%, 0, 0);
  opacity: 0;
  transition: all 0.15s linear !important;
}

.modalJD.show {
  opacity: 1;
  transform: none;
}

/* .fadeInLeft {
  animation: fadeInLeft 0.25s;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
} */

@media only screen and (min-width: 320px) {
  .modalJD.modal {
    padding-left: 0 !important;
  }
}

@media only screen and (min-width: 576px) {
  .modalJD .modal-dialog {
    max-width: 700px;
  }
}

@media only screen and (min-width: 992px) {
  .modalJD .modal-dialog {
    max-width: 900px;
  }
}

@media only screen and (min-width: 1200px) {
  .modalJD .modal-dialog {
    max-width: 1140px;
  }
}
